recipebox.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<!--ROOT ELEMENT-->
<xs:element name="recipebox_database">
    <xs:complexType>
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="recipes" type="recipesType"/>
            <xs:element name='customers' type="customersType"/>
            <xs:element name='recipeboxes' type="recipeboxesType"/>
            <xs:element name='ingredients' type="ingredientsType"/>
            <xs:element name='suppliers' type="suppliersType"/>
            <xs:element name='orders' type="ordersType"/>
            <xs:element name='tools' type="toolsType"/>
            <xs:element name='authors' type="authorsType"/>
            <xs:element name='user_feedback' type="userfeedbackType"/>
            <xs:element name='recipe_categorisation' type="recipecategorisationType"/>
            <xs:element name='measurements' type="measurementsType"/>
        </xs:sequence>
    </xs:complexType>

    <!--Get the title, put it in recipebox-->
    <xs:key name="RecipeKey">
        <xs:selector xpath="recipe"/>
        <xs:field xpath="title"/>
    </xs:key>
    <xs:keyref name="RecipeKeyRef" refer="RecipeKey">
        <xs:selector xpath="recipebox/recipe"/>
        <xs:field xpath="@idref"/>
    </xs:keyref>



</xs:element>

<!--#########################################################################-->
<!--RECIPES-->
<xs:complexType name="recipesType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="recipe" type="recipeInfoType"/>
    </xs:sequence>
  </xs:complexType>

<!--recipe-->
<xs:complexType name="recipeInfoType">
    <xs:sequence minOccurs="1" maxOccurs="1">
        <xs:element name="title" type="xs:string"/>
        <xs:element name="author" type="authorRefType"/>
        <xs:element name="information" type="informationType"/>
        <xs:element name="comments" type="commentsType"/> <!-- user feedback in XML is highlighted ???-->
        <xs:element name="URL" type="xs:anyURI"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID"/>
</xs:complexType>

<!--author-->
<xs:complexType name="authorRefType">
    <xs:attribute name="idref" type="xs:IDREF"/>
</xs:complexType>

<!--information-->
<xs:complexType name="informationType">
    <xs:sequence minOccurs="1" maxOccurs="1">
        <xs:element name="description" type="xs:string"/>
        <xs:element name="quantity" type="xs:positiveInteger"/>
        <xs:element name="tools" type="toolsRefType"/>
        <xs:element name="time" type="timeType"/>
        <xs:element name="ingredients" type="ingredientsRefType"/>
        <xs:element name="steps" type="stepsType"/>
        <xs:element name="value_information" type="valueInformationType"/>
    </xs:sequence>
</xs:complexType>

<!--tools-->
<xs:complexType name="toolsRefType">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element name="tool" type="toolRefType"/>
    </xs:sequence>
</xs:complexType>

<!--tool-->
<complexType name="toolRefType">
    <xs:attribute name="idref" type="xs:IDREF"/>
</complexType>


<!--cooking time-->
<xs:complexType name="timeType">
    <xs:sequence minOccurs="1" maxOccurs="1">
        <xs:element name="preptime" type="xs:string"/>
        <xs:element name="cooktime" type="xs:string"/>
        <xs:element name="totaltime" type="xs:string"/>
    </xs:sequence>
</xs:complexType>

<!--ingredients-->
<xs:complexType name="ingredientsRefType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="ingredient" type="ingredientRefType"/>
    </xs:sequence>
</xs:complexType>

<!--ingredient-->
<xs:complexType name="ingredientRefType">
    <xs:sequence minOccurs="1" maxOccurs="1">
        <xs:element name="amount" type="xs:positiveInteger"/>
        <xs:element name="unit" type="unitType"/>
    </xs:sequence>
    <xs:attribute name="idref" type="xs:IDREF"/>
</xs:complexType>

<!--unit-->
<xs:complexType name="unitType">
    <xs:attribute name="idref" type="xs:IDREF"/>
</xs:complexType>

<!--steps-->
<xs:complexType name="stepsType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="step" type="xs:string"/>
    </xs:sequence>
</xs:complexType>

<!--nutrition/category-->
<xs:complexType name="valueInformationType">
    <xs:sequence minOccurs="1" maxOccurs="1">
        <xs:element name="cat_values" type="cat_valuesType"/>
        <xs:element name="allge_values" type="allge_valuesType"/>
        <xs:element name="tag_values" type="tag_valuesType"/>
        <xs:element name="nutrition" type="nutrition_valuesType"/>
    </xs:sequence>
</xs:complexType>

<!--category value-->
<xs:complexType name="cat_valuesType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="cat_value"/>
    </xs:sequence>
    <xs:attribute name="idref" type="xs:IDREF"/>
</xs:complexType>

<!--allergy value-->
<xs:complexType name="allge_valuesType">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element name="allge_value" type="allge_valueType"/>
    </xs:sequence>
</xs:complexType>

<xs:complexType name="allge_valueTyp">
    <xs:attribute name="idref" type="xs:IDREF"/>
</xs:complexType>


<!--tag value-->
<xs:complexType name="tag_valuesType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="tag_value" type="tag_valueType"/>
    </xs:sequence>
</xs:complexType>

<xs:complexType name="tag_valueType">
    <xs:attribute name="idref" type="xs:IDREF"/>
</xs:complexType>

<!--nutrition value--> <!--To look at later-->
<xs:complexType name="nutrition_valuesType">
    <xs:attribute name="idref" type="xs:IDREF"/>
</xs:complexType>


<!--comments-->
<xs:complexType name="commentsType">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element name="comment" type="commentType"/>
    </xs:sequence>
</xs:complexType>

<xs:complexType name="commentType">
    <xs:attribute name="idref" type="xs:IDREF"/>
</xs:complexType>

<!--#########################################################################-->
<!--CUSTOMERS-->
<xs:complexType name="customersType">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element name="customer" type="customerType"/>
    </xs:sequence>
</xs:complexType>

<!-- customer -->
<xs:complexType name="customerType">
    <xs:sequence minOccurs="1" maxOccurs="1">
        <xs:element name="name" type="xs:string"/>
        <xs:element name="address" type="addressType"/>
        <xs:element name="contact" type="contactType"/>
        <xs:element name="subscriptions" type="subscriptionsType" minOccurs="0"/>
        <xs:element name="gastronomy_preferences" type="gastronomy_preferencesType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID"/>
</xs:complexType>

<!-- subscriptions -->
<xs:complexType name="subscriptionsType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="recipebox" type="recipeboxrefType"/>
    </xs:sequence>
</xs:complexType>

<!-- recipebox reference -->
<xs:complexType name="recipeboxrefType">
    <xs:attribute name="idref" type="xs:IDREF"/>
</xs:complexType>

<!-- gastronomy preferences -->
<xs:complexType name="gastronomy_preferencesType">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element name="pref" type="prefType"/>
    </xs:sequence>
</xs:complexType>

<!-- pref -->
<xs:complexType name="prefType">
    <xs:attribute name="idref" type="xs:IDREF"/>
</xs:complexType>


<!--#########################################################################-->
<!--RECIPEBOXES-->
<xs:complexType name="recipeboxesType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="recipebox" type="recipeboxType"/>
    </xs:sequence>
</xs:complexType>

<!--recipebox-->
<xs:complexType name="recipeboxType">
    <xs:sequence>
        <xs:element name="recipe" type="reciperefType"/>
        <xs:element name="tags" type="tagsType"/>
        <xs:element name="price" type="priceType"/>
    </xs:sequence>
    <xs:attribute name="recipeboxAttribute" type="xs:ID"/>
</xs:complexType>

<!--reciperef-->
<xs:complexType name="reciperefType">
    <xs:attribute name="idref" type="xs:IDREF"/>
</xs:complexType>

<!--tags-->
<xs:complexType name="tagsType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="tag" type="tagType"/>
    </xs:sequence>
</xs:complexType>

<xs:complexType name="tagType">
    <xs:attribute name="idref" type="xs:IDREF"/>
</xs:complexType>


<!--price--> <!--Keep an eye on-->
<xs:complexType name="priceType">
    <xs:simpleContent>
        <xs:extension base="xs:decimal">
            <xs:attribute name="currency" type="xs:string"/>
        </xs:extension>
    </xs:simpleContent>
</xs:complexType>


<!--#########################################################################-->
<!--INGREDIENTS-->
<xs:complexType name="ingredientsType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="ingredient" type="ingredientType"/>
    </xs:sequence>
</xs:complexType>

<!--ingredient-->
<xs:complexType name="ingredientType">
    <xs:sequence minOccurs="1" maxOccurs="1">
        <xs:element name="name" type="xs:string"/>
        <xs:element name="type" type="xs:string"/>
        <xs:element name="seasonality" type="xs:string"/>
        <xs:element name="nutrition_info" type="xs:string"/> <!--Might need to edit the way we present the info in the database-->
        <xs:element name="supplier" type="supplierrefType"/>
    </xs:sequence>
    <xs:attribute name="ingredientAttribute" type="xs:ID" />
</xs:complexType>

<!--supplier idref-->
<xs:complexType name="supplierrefType">
    <xs:attribute name="idref" type="xs:IDREF"/>
</xs:complexType>


<!--#########################################################################-->
<!--SUPPLIERS-->
<xs:complexType name="suppliersType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="supplier" type="supplierType"/>
    </xs:sequence>
</xs:complexType>

<!--supplier-->
<xs:complexType name="supplierType">
    <xs:sequence minOccurs="1" maxOccurs="1">
        <xs:element name="name" type="xs:string"/>
        <xs:element name="address" type="addressType"/>
        <xs:element name="contact" type="contactType"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID"/>
</xs:complexType>

<!--address-->
<xs:complexType name="addressType">
    <xs:sequence minOccurs="1" maxOccurs="1">
        <xs:element name="street" type="xs:string"/>
        <xs:element name="city" type="xs:string"/>
        <xs:element name="zipcode" type="xs:integer"/>
    </xs:sequence>
</xs:complexType>

<!--contact-->
<xs:complexType name="contactType">
    <xs:sequence minOccurs="1" maxOccurs="1">
        <xs:element name="email" type="xs:string"/>
        <xs:element name="telephone" type="xs:string"/>
    </xs:sequence>
</xs:complexType>


<!--#########################################################################-->
<!--ORDERS-->
<xs:complexType name="ordersType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="order" type="orderType"/>
    </xs:sequence>
</xs:complexType>

<xs:complexType name="orderType">
    <xs:sequence>
        <xs:element name="customerrefType" type='customerrefType'>
            <xs:key name="CustomerOrderKey">
                <xs:selector xpath="customers/customerInfoType"/>
                <xs:field xpath="name"/>
                <xs:field xpath="@addressType"/>
                <xs:field xpath="@contactType"/>
            </xs:key>
        </xs:element>
        <xs:element name="recipebox" type='recipeboxorderrefType'/>
        <xs:element name="invoice_amount" type="invoice_amountType"/>
    </xs:sequence>
    <xs:attribute name="orderAttribute" type="xs:ID"/>
</xs:complexType>

<xs:complexType name="customerrefType">
    <xs:attribute name="idref" type="xs:IDREF"/>
</xs:complexType>

<xs:complexType name="recipeboxorderrefType">
    <xs:attribute name="idref" type="xs:IDREF"/>
</xs:complexType>

<xs:complexType name="invoice_amountType">
    <xs:simpleContent>
        <xs:extension base="xs:decimal">
            <xs:attribute name="currency" type="xs:string"/>
        </xs:extension>
    </xs:simpleContent>
</xs:complexType>


<!--#########################################################################-->
<!--TOOLS-->
<xs:complexType name="toolsType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="tool" type="toolType"/>
    </xs:sequence>
</xs:complexType>

<!--tool-->
<xs:complexType name="toolType">
    <xs:sequence minOccurs="1" maxOccurs="1">
        <xs:element name="name" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID"/>
</xs:complexType>


<!--#########################################################################-->
<!--AUTHORS-->
<xs:complexType name="authorsType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="author" type="authorType"/>
    </xs:sequence>
</xs:complexType>

<!--author-->
<xs:complexType name="authorType">
    <xs:sequence minOccurs="1" maxOccurs="1">
        <xs:element name="name" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID"/>
</xs:complexType>


<!--#########################################################################-->
<!--USER FEEDBACK-->
<xs:complexType name="userfeedbackType">
    <xs:sequence>
        <xs:element name="customer" type="customerfeedbackType"/>
    </xs:sequence>
</xs:complexType>

<!--customer-->
<xs:complexType name="customerfeedbackType">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element name="recipe" type="recipecommentrefType"/>
        <xs:element name="rating" type="xs:float"/>
        <xs:element name="comment" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="idref" type="xs:IDREF"/>
</xs:complexType>

<xs:complexType name="recipecommentrefType">
    <xs:attribute name="idref" type="xs:IDREF"/>
</xs:complexType>


<!--#########################################################################-->
<!--RECIPE CATEGORISATION-->
<xs:complexType name="recipecategorisationType">
    <xs:sequence minOccurs="1" maxOccurs="1">
        <xs:element name="category" type="categoryType"/>
        <xs:element name="recipe_tag" type="recipetagType"/>
        <xs:element name="allergens" type="allergensType"/>
        <xs:element name="nutrition" type="nutritionType"/>
    </xs:sequence>
</xs:complexType>

<!--category-->
<xs:complexType name="categoryType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="cat_value" type="cat_valueType"/>
    </xs:sequence>
</xs:complexType>

<xs:complexType name="cat_valueType">
    <xs:attribute name="id" type="xs:ID"/>
</xs:complexType>

<!--recipe_tagType-->
<xs:complexType name="recipetagType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="tag_value" type="tag_valueType"/>
    </xs:sequence>
</xs:complexType>

<xs:complexType name="tag_valueType">
    <xs:attribute name="id" type="xs:ID"/>
</xs:complexType>

<!--allergens-->
<xs:complexType name="allergensType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="allge_value" type="allge_valueType"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID"/>
</xs:complexType>

<xs:complexType name="allge_valueType">
    <xs:attribute name="id" type="xs:ID"/>
</xs:complexType>

<!--nutrition-->
<xs:complexType name="nutritionType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="nutr_value" type="nutr_valueType"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID"/>
</xs:complexType>

<xs:complexType name="nutr_valueType">
    <xs:attribute name="id" type="xs:ID"/>
</xs:complexType>


<!--######################################################################-->
<!--MEASUREMENTS-->
<xs:complexType name="measurementsType">
    <xs:sequence>
        <xs:element name="measurement" type="measurementType"/>
    </xs:sequence>
</xs:complexType>

<!--measurement-->
<xs:complexType name="measurementType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="unit" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID"/>
</xs:complexType>


</xs:schema>