recipebox.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<!--ROOT ELEMENT-->
<xs:element name="recipebox_database">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="recipes" type="recipeType"/>
            <xs:element name='customers' type="customersType"/>
            <xs:element name='recipeboxes' type="recipeboxesType"/>
            <xs:element name='ingredients' type="ingredientsType"/>
            <xs:element name='suppliers' type="supplierType"/>
            <xs:element name='orders' type="ordersType"/>
            <xs:element name='tools' type="toolsType"/>
            <xs:element name='authors' type="authorType"/>
            <xs:element name='user_feedback' type="userfeedbackType"/>
            <xs:element name='recipe_categorisation' type="recipecategorisationType"/>
            <xs:element name='measurements' type="measurementsType"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<!--RECIPES-->
<xs:element name="recipes">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="recipe"/>
            <xs:sequence>
                <xs:element name="title" type="xs:string"/>
                <xs:element name="author" type="authorType"/>
                <xs:element name="information" type="informationType"/>
                <xs:element name="user_feedback" type="userfeedbackType"/>
                <xs:element name="link" type="xs:anyURI"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>


<!--CUSTOMERS-->
<xs:complexType name="customersType">
    <xs:sequence>
        <xs:element name="customer" minOccurs="1" maxOccurs="unbounded">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="name" type="xs:string" minOccurs="1"/>
                    <xs:element name="address" minOccurs="1">
                        <xs:complexType>
                            <xs:sequence>   
                                <xs:element name="street" type="xs:string"/>
                                <xs:element name="city" type="xs:string"/>
                                <xs:element name="zipcode" type="xs:integer"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="contact" minOccurs="1">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="email" type="xs:string" minOccurs="1"/>
                                <xs:element name="telephone" type="xs:integer" minOccurs="1"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="subscriptions" minOccurs="0" > <!--to be reviewed-->
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="recipebox">
                                    <xs:complexType>
                                        <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                                <xs:attribute name="idref" type="xs:ID"/>
                                            </xs:extension>
                                        </xs:simpleContent>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="gastronomy_preferences" minOccurs="0"> <!--to be reviewed-->
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="pref">
                                    <xs:complexType>
                                        <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                                <xs:attribute name="idref" type="xs:ID"/>
                                                <xs:attribute name="idref1" type="xs:ID"/> <!--HOW TO ADD A SECOND REFERENCE -->
                                            </xs:extension>
                                        </xs:simpleContent>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="id" type="xs:ID"/> <!-- NOT TOO SURE HOW TO REFERENCE THIS-->
            </xs:complexType>
        </xs:element>
    </xs:sequence>
</xs:complexType>


<!--RECIPEBOXES-->
<xs:complexType name="recipeboxesType">
    <xs:sequence>
        <xs:element name="recipebox" minOccurs="1"> 
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="recipe" minOccurs="1">
                        <xs:complexType>
                            <xs:attribute name="idref" type="xs:integer"/>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="tags" minOccurs="1">
                        <xs:complexType>
                            <xs:attribute name="idref" type="xs:string"/>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="price" type="xs:string"/>
                </xs:sequence>
                <xs:attribute name="id" type="xs:ID"/>
            </xs:complexType>
        </xs:element>
    </xs:sequence>
</xs:complexType>


<!--INGREDIENTS-->
<xs:complexType name="ingredientsType">
    <xs:sequence>
        <xs:complexType name="ingredientinfoType"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="type" type="xs:string"/>
            <xs:element name="seasonality" type="xs:string"/>
            <xs:element name="nutrition_info" type="xs:string"/>
            <xs:complexType name="supplier"/>
                <xs:attribute name="idref" type="xs:ID"/>
        <xs:attribute name="id" type="xs:ID"/>    
    </xs:sequence>
</xs:complexType>


<!--SUPPLIERS-->
<xs:complexType name="supplierType">
    <xs:sequence>
        <xs:element name="supplier" minOccurs="1">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="name" type="xs:string" minOccurs="1"/>
                    <xs:element name="address" minOccurs="1">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="street" type="xs:string"/>
                                <xs:element name="city" type="xs:string"/>
                                <xs:element name="zipcode" type="xs:string"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="contact" minOccurs="1">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="email" type="xs:string"/>
                                <xs:element name="telephone" type="xs:integer"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="id" type="xs:ID"/>
            </xs:complexType>
        </xs:element>
    </xs:sequence>
</xs:complexType>

<!--ORDERS-->
<xs:complexType name="ordersType">
    <xs:attribute name="id" type="xs:integer"/>
    <xs:sequence>
        <xs:attribute name="idref" type="xs:IDREF"/>
        <xs:selector xpath="recipeboxesType" /> <!--Questionable-->
        <xs:selector xpath="customersInfoType" />
        <xs:element name="invoice_amount" type="xs:integer" />
    </xs:sequence>
 </xs:complexType>

<xs:key name="CustomerKey">
    <xs:selector xpath="customers/customer"/>
    <xs:field xpath="name"/>
    <xs:field xpath="address"/>
</xs:key>
<xs:keyref name="CustomerKeyRef" refer="CustomerKey">
      <xs:selector xpath="orders/order"/>
      <xs:field xpath="@idref"/>
</xs:keyref>


<xs:complexType name="recipeType">
    <xs:sequence>
        <xs:element name="ingredients" type="ingredientsType"/>
        <xs:element name="steps" type="stepsType"/>
        <xs:element name="value_information" type="valinfoType"/>
    </xs:sequence>
</xs:complexType>

<!--TOOLS INFORMATION-->
<xs:complexType name="toolsType">
    <xs:sequence>
        <xs:element name="tool" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                </xs:sequence>
                <xs:attribute name="id" type="xs:ID"/>
            </xs:complexType>
        </xs:element>
    </xs:sequence>
    <xs:attribute name="idref" type="xs:string"/>
</xs:complexType>

<xs:complexType name="timeType">
    <xs:sequence>
        <xs:element name="preptime" type="xs:string"/>
        <xs:element name="cooktime" type="xs:string"/>
        <xs:element name="totaltime" type="xs:string"/>
    </xs:sequence>
</xs:complexType>

<xs:complexType name="ingredientinfoType">
    <xs:sequence>
        <xs:element name="amount" type="xs:integer"/>
        <xs:element name="unit" type="unitType"/>
    </xs:sequence>
    <xs:attribute name="idref" type="xs:string"/>
</xs:complexType>

<xs:complexType name="unitType">
    <xs:attribute name="idref" type="xs:string"/>
</xs:complexType>

<xs:complexType name="stepsType">
    <xs:sequence>
        <xs:element name="step" type="xs:string" minOccurs="1"/>
    </xs:sequence>`
</xs:complexType>

<xs:complexType name="valinfoType">
    <xs:sequence>
        <xs:element name="cat_value" type="cat_valueType" minOccurs="1"/>
        <xs:element name="allge_value" type="allge_valueType" minOccurs="0"/>
        <xs:element name="tag_value" type="tag_valueType" minOccurs="1"/>
        <xs:element name="nutrition" type="nutritionType" minOccurs="1"/>
    </xs:sequence>
</xs:complexType>

<xs:complexType name="cat_valueType">
    <xs:attribute name="idref" type="xs:string"/>
</xs:complexType>

<xs:complexType name="allge_valueType">
    <xs:attribute name="idref" type="xs:string"/>
</xs:complexType>

<xs:complexType name="tag_valueType">
    <xs:attribute name="idref" type="xs:string"/>
</xs:complexType>

<xs:complexType name="nutritionType">
    <xs:attribute name="idref" type="xs:string"/>
</xs:complexType>

<!--USER FEEDBACK-->
<xs:complexType name="userfeedbackType">
    <xs:sequence>
        <xs:element name="customer" minOccurs="1">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="recipe">
                        <xs:complexType>
                                <xs:attribute name="idref" type="xs:int"/>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="rating" type="xs:float"/>
                    <xs:element name="comments" type="xs:string"/>
                </xs:sequence>
                <xs:attribute name="idref" type="xs:string"/>
            </xs:complexType>
        </xs:element>
    </xs:sequence>
</xs:complexType>

<!--AUTHORS-->
<xs:complexType name="authorType">
    <xs:sequence>
        <xs:element name="author" minOccurs="0">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                </xs:sequence>
                <xs:attribute name="id" type="xs:ID"/>
            </xs:complexType>
        </xs:element>
    </xs:sequence>
</xs:complexType>

<!--RECIPE CATEGORISATION-->
<xs:complexType name="recipecategorisationType">
    <xs:sequence>
        <xs:element name="category" type="categoryType"/>
        <xs:element name="recipe_tag" type="recipe_tagType"/>
        <xs:element name="allergens" type="allergensType"/>
        <xs:element name="nutrition" type="nutritionType"/>
    </xs:sequence>
</xs:complexType>

<!--category-->
<xs:complexType name="categoryType">
    <xs:sequence>
        <xs:element name="cat_value" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID"/>
</xs:complexType>

<!--recipe_tagType-->
<xs:complexType name="recipe_tagType">
    <xs:sequence>
        <xs:element name="tag_value" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID"/>
</xs:complexType>

<!--allergens-->
<xs:complexType name="allergensType">
    <xs:sequence>
        <xs:element name="allge_value" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID"/>
</xs:complexType>

<!--MEASUREMENTS-->
<xs:complexType name="measurementsType">
    <xs:sequence>
        <xs:element name="measure_liters" type="measure_litersType"/>
        <xs:element name="measure_grams" type="measure_gramsType"/>
    </xs:sequence>
</xs:complexType>

<!--measure_liters-->
<xs:complexType name="measure_litersType">
    <xs:sequence>
        <xs:element name="L" type="xs:string"/>
        <xs:element name="dL" type="xs:string"/>
        <xs:element name="cL" type="xs:string"/>
        <xs:element name="mL" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="measure_L" type="xs:ID"/>
</xs:complexType>

<!--measure_grams-->
<xs:complexType name="measure_gramsType">
    <xs:sequence>
        <xs:element name="kg" type="xs:string"/>
        <xs:element name="g" type="xs:string"/>
        <xs:element name="mg" type="xs:string"/>
    </xs:sequence>
</xs:complexType>

</xs:schema>