recipebox.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<!--########################################################################################################################-->
<!--ROOT ELEMENT-->
<xs:element name="recipebox_database">
    <xs:complexType>
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="recipes" type="recipesType"/>
            <xs:element name='customers' type="customersType"/>
            <xs:element name='recipeboxes' type="recipeboxesType"/>
            <xs:element name='ingredients' type="ingredientsType"/>
            <xs:element name='suppliers' type="suppliersType"/>
            <xs:element name='orders' type="ordersType"/>
            <xs:element name='tools' type="toolsType"/>
            <xs:element name='authors' type="authorsType"/>
            <xs:element name='user_feedback' type="userfeedbackType"/>
            <xs:element name='recipe_categorisation' type="recipecategorisationType"/>
            <xs:element name='measurements' type="measurementsType"/>
        </xs:sequence>
    </xs:complexType>

<!--KEYS-->
    <!--Recipe Key-->
    <xs:key name="RecipeKey">
        <xs:selector xpath="./recipes/recipe"/>
        <xs:field xpath="@id"/>
    </xs:key>
    <xs:keyref name="RecipeCommentKeyRef" refer="RecipeKey">
        <xs:selector xpath="./user_feedback/customer/recipe"/>
        <xs:field xpath="@idref"/>
    </xs:keyref>
    <xs:keyref name="RecipeRecipeboxKeyRef" refer="RecipeKey">
        <xs:selector xpath="./recipeboxes/recipebox/recipes/recipe"/>
        <xs:field xpath="@idref"/>
    </xs:keyref>

    <!--Customer Key-->
    <xs:key name="CustomerKey">
        <xs:selector xpath="./customers/customer"/>
        <xs:field xpath="@id"/>
    </xs:key>
    <xs:keyref name="CustomerOrderKeyRef" refer="CustomerKey">
        <xs:selector xpath="./orders/order"/>
        <xs:field xpath="@idref"/>
    </xs:keyref>
    <xs:keyref name="CustomerCommentKeyRef" refer="CustomerKey">
        <xs:selector xpath="./user_feedback/customer"/>
        <xs:field xpath="@idref"/>
    </xs:keyref>

    <!--Recipebox Key-->
    <xs:key name="RecipeboxKey">
        <xs:selector xpath="./recipeboxes/recipebox"/>
        <xs:field xpath="@id"/>
    </xs:key>
    <xs:keyref name="RecipeboxCustomerKeyRef" refer="RecipeboxKey">
        <xs:selector xpath="./customers/customer/subscriptions"/>
        <xs:field xpath="@idref"/>
    </xs:keyref>
    <xs:keyref name="RecipeboxOrderKeyRef" refer="RecipeboxKey">
        <xs:selector xpath="./orders/order/recipebox"/>
        <xs:field xpath="@idref"/>
    </xs:keyref>

    <!--Ingredient Key-->
    <xs:key name="IngredientKey">
        <xs:selector xpath="./ingredients/ingredient"/>
        <xs:field xpath="@id"/>
    </xs:key>
    <xs:keyref name="IngredientKeyRef" refer="IngredientKey">
        <xs:selector xpath="./recipes/recipe/ingredients/ingredient"/>
        <xs:field xpath="@idref"/>
    </xs:keyref>

    <!--Supplier Key-->
    <xs:key name="SupplierKey">
        <xs:selector xpath="./suppliers/supplier"/>
        <xs:field xpath="@id"/>
    </xs:key>
    <xs:keyref name="SupplierKeyRef" refer="SupplierKey">
        <xs:selector xpath="./ingredients/ingredient/supplier"/>
        <xs:field xpath="@idref"/>
    </xs:keyref>

    <!--Tool Key-->
    <xs:key name="ToolKey">
        <xs:selector xpath="./tools/tool"/>
        <xs:field xpath="@id"/>
    </xs:key>
    <xs:keyref name="ToolKeyRef" refer="ToolKey">
        <xs:selector xpath="./recipes/recipe/information/tools"/>
        <xs:field xpath="@idref"/>
    </xs:keyref>

    <!--Author Key-->
    <xs:key name="AuthorKey">
        <xs:selector xpath="./authors/author"/>
        <xs:field xpath="@id"/>
    </xs:key>
    <xs:keyref name="AuthorKeyRef" refer="AuthorKey">
        <xs:selector xpath="./recipes/recipe/author"/>
        <xs:field xpath="@idref"/>
    </xs:keyref>

    <!--Comment-->
    <xs:key name="CommentKey">
        <xs:selector xpath="./user_feedback/comment"/>
        <xs:field xpath="@id"/>
    </xs:key>
    <xs:keyref name="CommentKeyRef" refer="CommentKey">
        <xs:selector xpath="./recipes/recipe/comments/comment"/>
        <xs:field xpath="@idref"/>
    </xs:keyref>

    <!--Category Key-->
    <xs:key name="CategoryKey">
        <xs:selector xpath="./recipe_categorisation/category/cat_value"/>
        <xs:field xpath="@id"/>
    </xs:key>
    <xs:keyref name="CategoryRecipeKeyRef" refer="CategoryKey">
        <xs:selector xpath="./recipes/recipe/value_information/cat_values/cat_value"/>
        <xs:field xpath="@idref"/>
    </xs:keyref>

    <!--Tag Key-->
    <xs:key name="TagKey">
        <xs:selector xpath="./recipe_categorisation/recipe_tag/tag_value"/>
        <xs:field xpath="@id"/>
    </xs:key>
    <xs:keyref name="TagCustomerKeyRef" refer="TagKey">
        <xs:selector xpath="./customers/customer/gastronomy_preferences/pref"/>
        <xs:field xpath="@idref"/>
    </xs:keyref>
    <xs:keyref name="TagRecipeboxKeyRef" refer="TagKey">
        <xs:selector xpath="./recipeboxes/recipebox/tags/tag"/>
        <xs:field xpath="@idref"/>
    </xs:keyref>
    <xs:keyref name="TagRecipeKeyRef" refer="TagKey">
        <xs:selector xpath="./recipes/recipe/information/value_information/tag_values/tag_value"/>
        <xs:field xpath="@idref"/>
    </xs:keyref>

    <!--Nutrition Key-->
    <xs:key name="NutritionKey">
        <xs:selector xpath="./recipe_categorisation/nutrition/nutr_value"/>
        <xs:field xpath="@id"/>
    </xs:key>
    <xs:keyref name="NutritionKeyRef" refer="NutritionKey">
        <xs:selector xpath="./recipes/recipe/information/value_information/nutrition/nutr_value"/>
        <xs:field xpath="@idref"/>
    </xs:keyref>

    <!--Measurement Key-->
    <xs:key name="MeasurementKey">
        <xs:selector xpath="./recipe_categorisation/recipe_tag/tag_value"/>
        <xs:field xpath="@id"/>
    </xs:key>
    <xs:keyref name="MeasurementKeyRef" refer="MeasurementKey">
        <xs:selector xpath="./measurements/measurement/unit"/>
        <xs:field xpath="@idref"/>
    </xs:keyref>

</xs:element>
<!--########################################################################################################################-->


<!--########################################################################################################################-->
<!--RECIPES-->
<xs:complexType name="recipesType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="recipe" type="recipeInfoType"/>
    </xs:sequence>
  </xs:complexType>

<!--recipe-->
<xs:complexType name="recipeInfoType">
    <xs:sequence minOccurs="1" maxOccurs="1">
        <xs:element name="title" type="xs:string"/>
        <xs:element name="author" type="authorRefType"/>
        <xs:element name="information" type="informationType"/>
        <xs:element name="comments" type="commentsType"/>
        <xs:element name="URL" type="xs:anyURI"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:integer"/>
</xs:complexType>

<!--author-->
<xs:complexType name="authorRefType">
    <xs:attribute name="idref" type="xs:integer"/>
</xs:complexType>

<!--information-->
<xs:complexType name="informationType">
    <xs:sequence minOccurs="1" maxOccurs="1">
        <xs:element name="description" type="xs:string"/>
        <xs:element name="quantity" type="xs:positiveInteger"/>
        <xs:element name="tools" type="toolsRefType"/>
        <xs:element name="time" type="timeType"/>
        <xs:element name="ingredients" type="ingredientsRefType"/>
        <xs:element name="steps" type="stepsType"/>
        <xs:element name="value_information" type="valueInformationType"/>
    </xs:sequence>
</xs:complexType>

<!--tools-->
<xs:complexType name="toolsRefType">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element name="tool" type="toolRefType"/>
    </xs:sequence>
</xs:complexType>

<!--tool-->
<xs:complexType name="toolRefType">
    <xs:attribute name="idref" type="xs:string"/>
</xs:complexType>


<!--cooking time-->
<xs:complexType name="timeType">
    <xs:sequence minOccurs="1" maxOccurs="1">
        <xs:element name="preptime" type="xs:string"/>
        <xs:element name="cooktime" type="xs:string"/>
        <xs:element name="totaltime" type="xs:string"/>
    </xs:sequence>
</xs:complexType>

<!--ingredients-->
<xs:complexType name="ingredientsRefType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="ingredient" type="ingredientRefType"/>
    </xs:sequence>
</xs:complexType>

<!--ingredient-->
<xs:complexType name="ingredientRefType">
    <xs:sequence minOccurs="1" maxOccurs="1">
        <xs:element name="amount" type="xs:float"/>
        <xs:element name="unit" type="unitType"/>
    </xs:sequence>
    <xs:attribute name="idref" type="xs:string"/>
</xs:complexType>

<!--unit-->
<xs:complexType name="unitType">
    <xs:attribute name="idref" type="xs:string"/>
</xs:complexType>

<!--steps-->
<xs:complexType name="stepsType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="step" type="xs:string"/>
    </xs:sequence>
</xs:complexType>

<!--nutrition/category-->
<xs:complexType name="valueInformationType">
    <xs:sequence minOccurs="1" maxOccurs="1">
        <xs:element name="cat_values" type="cat_valuesType"/>
        <xs:element name="allge_values" type="allge_valuesType"/>
        <xs:element name="tag_values" type="tag_valuesType"/>
        <xs:element name="nutrition" type="nutrition_valuesType"/>
    </xs:sequence>
</xs:complexType>

<!--category value-->
<xs:complexType name="cat_valuesType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="cat_value"/>
    </xs:sequence>
    <xs:attribute name="idref" type="xs:string"/>
</xs:complexType>

<!--allergy value-->
<xs:complexType name="allge_valuesType">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element name="allge_value" type="allge_valuelistType"/>
    </xs:sequence>
</xs:complexType>

<xs:complexType name="allge_valuelistType">
    <xs:attribute name="idref" type="xs:string"/>
</xs:complexType>


<!--tag value-->
<xs:complexType name="tag_valuesType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="tag_value" type="tag_valueType"/>
    </xs:sequence>
</xs:complexType>

<xs:complexType name="tag_valueType">
    <xs:attribute name="idref" type="xs:string"/>
</xs:complexType>

<!--nutrition value-->
<xs:complexType name="nutrition_valuesType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="nutr_value" type="nutrition_valueType"/>
    </xs:sequence>
</xs:complexType>

<xs:complexType name="nutrition_valueType">
    <xs:simpleContent>
        <xs:extension base="xs:string">
            <xs:attribute name="idref" type="xs:string"/>
            <xs:attribute name="measure" type="xs:string"/>
        </xs:extension>
    </xs:simpleContent>
</xs:complexType>


<!--comments-->
<xs:complexType name="commentsType">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element name="comment" type="commentType"/>
    </xs:sequence>
</xs:complexType>

<xs:complexType name="commentType">
    <xs:attribute name="idref" type="xs:integer"/>
</xs:complexType>

<!--########################################################################################################################-->
<!--CUSTOMERS-->
<xs:complexType name="customersType">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element name="customer" type="customerType"/>
    </xs:sequence>
</xs:complexType>

<!-- customer -->
<xs:complexType name="customerType">
    <xs:sequence minOccurs="1" maxOccurs="1">
        <xs:element name="name" type="xs:string"/>
        <xs:element name="address" type="addressType"/>
        <xs:element name="contact" type="contactType"/>
        <xs:element name="subscriptions" type="subscriptionsType" minOccurs="0"/>
        <xs:element name="gastronomy_preferences" type="gastronomy_preferencesType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:integer"/>
</xs:complexType>

<!-- subscriptions -->
<xs:complexType name="subscriptionsType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="recipebox" type="recipeboxrefType"/>
    </xs:sequence>
</xs:complexType>

<!-- recipebox reference -->
<xs:complexType name="recipeboxrefType">
    <xs:attribute name="idref" type="xs:integer"/>
</xs:complexType>

<!-- gastronomy preferences -->
<xs:complexType name="gastronomy_preferencesType">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element name="pref" type="prefType"/>
    </xs:sequence>
</xs:complexType>

<!-- pref -->
<xs:complexType name="prefType">
    <xs:attribute name="idref" type="xs:string"/>
</xs:complexType>


<!--########################################################################################################################-->
<!--RECIPEBOXES-->
<xs:complexType name="recipeboxesType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="recipebox" type="recipeboxType"/>
    </xs:sequence>
</xs:complexType>

<!--recipebox-->
<xs:complexType name="recipeboxType">
    <xs:sequence>
        <xs:element name="recipes" type="recipesrefType"/>
        <xs:element name="tags" type="tagsType"/>
        <xs:element name="price" type="priceType"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:integer"/>
</xs:complexType>

<!--reciperef-->
<xs:complexType name="recipesrefType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="recipe" type="reciperefType"/>
    </xs:sequence>
</xs:complexType>

<xs:complexType name="reciperefType">
    <xs:attribute name="idref" type="xs:integer"/>
</xs:complexType>

<!--tags-->
<xs:complexType name="tagsType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="tag" type="tagType"/>
    </xs:sequence>
</xs:complexType>

<xs:complexType name="tagType">
    <xs:attribute name="idref" type="xs:string"/>
</xs:complexType>


<!--price--> <!--Keep an eye on-->
<xs:complexType name="priceType">
    <xs:simpleContent>
        <xs:extension base="xs:decimal">
            <xs:attribute name="currency" type="xs:string"/>
        </xs:extension>
    </xs:simpleContent>
</xs:complexType>


<!--########################################################################################################################-->
<!--INGREDIENTS-->
<xs:complexType name="ingredientsType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="ingredient" type="ingredientType"/>
    </xs:sequence>
</xs:complexType>

<!--ingredient-->
<xs:complexType name="ingredientType">
    <xs:sequence minOccurs="1" maxOccurs="1">
        <xs:element name="name" type="xs:string"/>
        <xs:element name="type" type="xs:string"/>
        <xs:element name="seasonality" type="xs:string"/>
        <xs:element name="supplier" type="supplierrefType"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" />
</xs:complexType>

<!--supplier idref-->
<xs:complexType name="supplierrefType">
    <xs:attribute name="idref" type="xs:integer"/>
</xs:complexType>


<!--########################################################################################################################-->
<!--SUPPLIERS-->
<xs:complexType name="suppliersType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="supplier" type="supplierType"/>
    </xs:sequence>
</xs:complexType>

<!--supplier-->
<xs:complexType name="supplierType">
    <xs:sequence minOccurs="1" maxOccurs="1">
        <xs:element name="name" type="xs:string"/>
        <xs:element name="address" type="addressType"/>
        <xs:element name="contact" type="contactType"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:integer"/>
</xs:complexType>

<!--address-->
<xs:complexType name="addressType">
    <xs:sequence minOccurs="1" maxOccurs="1">
        <xs:element name="street" type="xs:string"/>
        <xs:element name="city" type="xs:string"/>
        <xs:element name="zipcode" type="xs:integer"/>
    </xs:sequence>
</xs:complexType>

<!--contact-->
<xs:complexType name="contactType">
    <xs:sequence minOccurs="1" maxOccurs="1">
        <xs:element name="email" type="xs:string"/>
        <xs:element name="telephone" type="xs:string"/>
    </xs:sequence>
</xs:complexType>


<!--########################################################################################################################-->
<!--ORDERS-->
<xs:complexType name="ordersType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="order" type="orderType"/>
    </xs:sequence>
</xs:complexType>

<xs:complexType name="orderType">
    <xs:sequence>
        <xs:element name="customer" type='customerrefType'/>
        <xs:element name="recipebox" type='recipeboxorderrefType'/>
        <xs:element name="invoice_amount" type="invoice_amountType"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:integer"/>
</xs:complexType>

<xs:complexType name="customerrefType">
    <xs:attribute name="idref" type="xs:integer"/>
</xs:complexType>

<xs:complexType name="recipeboxorderrefType">
    <xs:attribute name="idref" type="xs:integer"/>
</xs:complexType>

<xs:complexType name="invoice_amountType">
    <xs:simpleContent>
        <xs:extension base="xs:decimal">
            <xs:attribute name="currency" type="xs:string"/>
        </xs:extension>
    </xs:simpleContent>
</xs:complexType>


<!--########################################################################################################################-->
<!--TOOLS-->
<xs:complexType name="toolsType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="tool" type="toolType"/>
    </xs:sequence>
</xs:complexType>

<!--tool-->
<xs:complexType name="toolType">
    <xs:sequence minOccurs="1" maxOccurs="1">
        <xs:element name="name" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
</xs:complexType>


<!--########################################################################################################################-->
<!--AUTHORS-->
<xs:complexType name="authorsType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="author" type="authorType"/>
    </xs:sequence>
</xs:complexType>

<!--author-->
<xs:complexType name="authorType">
    <xs:sequence minOccurs="1" maxOccurs="1">
        <xs:element name="name" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:integer"/>
</xs:complexType>


<!--########################################################################################################################-->
<!--USER FEEDBACK-->
<xs:complexType name="userfeedbackType">
    <xs:sequence>
        <xs:element name="comment" type="commentfeedbackType"/>
    </xs:sequence>
</xs:complexType>

<!--customer-->
<xs:complexType name="commentfeedbackType">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element name="customer" type="customercommentrefType"/>
        <xs:element name="recipe" type="recipecommentrefType"/>
        <xs:element name="rating" type="xs:float"/>
        <xs:element name="comment" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:integer"/>
</xs:complexType>

<xs:complexType name="customercommentrefType">
    <xs:attribute name="idref" type="xs:integer"/>
</xs:complexType>

<xs:complexType name="recipecommentrefType">
    <xs:attribute name="idref" type="xs:integer"/>
</xs:complexType>


<!--########################################################################################################################-->
<!--RECIPE CATEGORISATION-->
<xs:complexType name="recipecategorisationType">
    <xs:sequence minOccurs="1" maxOccurs="1">
        <xs:element name="category" type="categoryType"/>
        <xs:element name="recipe_tag" type="recipetagType"/>
        <xs:element name="allergens" type="allergensType"/>
        <xs:element name="nutrition" type="nutritionType"/>
    </xs:sequence>
</xs:complexType>

<!--category-->
<xs:complexType name="categoryType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="cat_value" type="cat_valueType"/>
    </xs:sequence>
</xs:complexType>

<xs:complexType name="cat_valueType">
    <xs:simpleContent>
        <xs:extension base="xs:string">
            <xs:attribute name="id" type="xs:string"/>
        </xs:extension>
    </xs:simpleContent>
</xs:complexType>

<!--recipe_tagType-->
<xs:complexType name="recipetagType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="tag_value" type="tagvalueType"/>
    </xs:sequence>
</xs:complexType>

<xs:complexType name="tagvalueType">
    <xs:simpleContent>
        <xs:extension base="xs:string">
            <xs:attribute name="id" type="xs:string"/>
        </xs:extension>
    </xs:simpleContent>
</xs:complexType>

<!--allergens-->
<xs:complexType name="allergensType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="allge_value" type="allge_valueType"/>
    </xs:sequence>
</xs:complexType>

<xs:complexType name="allge_valueType">
    <xs:simpleContent>
        <xs:extension base="xs:string">
            <xs:attribute name="id" type="xs:string"/>
        </xs:extension>
    </xs:simpleContent>
</xs:complexType>

<!--nutrition-->
<xs:complexType name="nutritionType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="nutr_value" type="nutr_valueType"/>
    </xs:sequence>
</xs:complexType>

<xs:complexType name="nutr_valueType">
    <xs:simpleContent>
        <xs:extension base="xs:string">
            <xs:attribute name="id" type="xs:string"/>
        </xs:extension>
    </xs:simpleContent>
</xs:complexType>


<!--########################################################################################################################-->
<!--MEASUREMENTS-->
<xs:complexType name="measurementsType">
    <xs:sequence maxOccurs="unbounded">
        <xs:element name="measurement" type="measurementType"/>
    </xs:sequence>
</xs:complexType>

<!--measurement-->
<xs:complexType name="measurementType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="unit" type="unitmeasurementType"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<xs:complexType name="unitmeasurementType">
    <xs:simpleContent>
        <xs:extension base="xs:string">
            <xs:attribute name="id" type="xs:string"/>
        </xs:extension>
    </xs:simpleContent>
</xs:complexType>


</xs:schema>