recipebox.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<!--ROOT ELEMENT-->
<xs:element name="recipebox_database">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="recipes" type="recipesType"/>
            <xs:element name='customers' type="customersType"/>
            <xs:element name='recipeboxes' type="recipeboxesType"/>
            <xs:element name='ingredients' type="ingredientsType"/>
            <xs:element name='suppliers' type="suppliersType"/>
            <xs:element name='orders' type="ordersType"/>
            <xs:element name='tools' type="toolsType"/>
            <xs:element name='authors' type="authorsType"/>
            <xs:element name='user_feedback' type="userfeedbackType"/>
            <xs:element name='recipe_categorisation' type="recipecategorisationType"/>
            <xs:element name='measurements' type="measurementsType"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<!--#########################################################################-->
<!--RECIPES-->
<xs:complexType name="recipesType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="recipe" type="recipeInfoType"/>
    </xs:sequence>
  </xs:complexType>

<!--recipe information -->
<xs:complexType name="recipeInfoType">
    <xs:sequence>
        <xs:element name="title" type="xs:string"/>
        <xs:element name="author" type="authorRefType"/>
        <xs:element name="information" type="informationType"/>
        <xs:element name="user_feedback" type="userfeedbackType"/>
        <xs:element name="link" type="xs:anyURI"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:integer"/>
</xs:complexType>

<!--author reference-->
<xs:complexType name="authorRefType">
    <xs:attribute name="idref" type="xs:integer"/>
</xs:complexType>

<!--information-->
<xs:complexType name="informationType">
    <xs:sequence>
        <xs:element name="description" type="xs:string"/>
        <xs:element name="quantity" type="xs:positiveInteger"/>
        <xs:element name="tools" type="toolRefType"/>
        <xs:element name="time" type="timeType"/>
        <xs:element name="ingredients" type="ingredientsRefType"/>
        <xs:element name="steps" type="stepsType"/>
        <xs:element name="value_information" type=""/>
        <xs:element name="user_feedback" type="userfeedbackType"/>
        <xs:element name="URL" type="xs:anyURI"/>
    </xs:sequence>
</xs:complexType>

<!--tool reference -->
<xs:complexType name="toolRefType">
    <xs:attribute name="idref" type="xs:IDREF"/>
</xs:complexType>

<!--time for cooking-->
<xs:complexType name="timeType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="preptime" type="xs:string"/>
        <xs:element name="cooktime" type="xs:string"/>
        <xs:element name="totaltime" type="xs:string"/>
    </xs:sequence>
</xs:complexType>

<!--ingredients reference-->
<xs:complexType name="ingredientsRefType">
    <xs:sequence minOccurs="1">
        <xs:element name="ingredient" type="ingredientRefType"/>
        <xs:attribute name="idref" type="xs:IDREF"/>
    </xs:sequence>
</xs:complexType>



<!--steps-->
<xs:complexType name="stepsType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="step" type="xs:string"/>
    </xs:sequence>
</xs:complexType>

<!--#########################################################################-->
<!--CUSTOMERS-->
<xs:complexType name="customersType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="customer" type="customerInfoType"/>
    </xs:sequence>
</xs:complexType>

<!-- customer -->
<xs:complexType name="customerInfoType">
    <xs:sequence>
        <xs:element name="name" type="xs:string" minOccurs="1"/>
        <xs:element name="address" type="addressType" minOccurs="1"/>
        <xs:element name="contact" type="contactType" minOccurs="1"/>
        <xs:element name="subscriptions" type="subscriptionsType" minOccurs="0"/>
        <xs:element name="gastronomy_preferences" type="gastronomy_preferencesType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID"/>
</xs:complexType>

<!-- subscriptions -->
<xs:complexType name="subscriptionsType">
    <xs:sequence>
        <xs:element name="recipebox" type="recipeboxrefType"/>
    </xs:sequence>
</xs:complexType>

<!-- recipebox reference -->
<xs:complexType name="recipeboxrefType">
    <xs:attribute name="idref" type="xs:IDREF"/>
</xs:complexType>

<!-- gastronomy preferences -->
<xs:complexType name="gastronomy_preferencesType">
    <xs:sequence>
        <xs:element name="pref" type="prefType"/>
    </xs:sequence>
</xs:complexType>

<!-- pref -->
<xs:complexType name="prefType">
    <xs:attribute name="idref" type="xs:IDREF"/>
    <xs:attribute name="idref1" type="xs:IDREF"/>
</xs:complexType>


<!--#########################################################################-->
<!--RECIPEBOXES-->
<xs:complexType name="recipeboxesType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="recipebox" type="recipeboxType"/>
    </xs:sequence>
</xs:complexType>

<!--recipebox-->
<xs:complexType name="recipeboxType">
    <xs:sequence>
        <xs:element name="recipe" type="reciperefType"/>
        <xs:element name="tags" type="tagsType"/>
        <xs:element name="price" type="priceType"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
</xs:complexType>

<!--reciperef-->
<xs:complexType name="reciperefType">
    <xs:attribute name="idref" type="xs:integer"/>
</xs:complexType>

<!--tags-->
<xs:complexType name="tagsType">
    <xs:attribute name="idref" type="xs:IDREF"/>
</xs:complexType>

<!--price-->
<xs:complexType name="priceType"> <!--LITTLE ISSUE HERE-->
    <xs:sequence maxOccurs="1">
        <xs:element name="price" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="currency" type="xs:string"/>
</xs:complexType>


<!--#########################################################################-->
<!--INGREDIENTS-->
<xs:complexType name="ingredientsType">
    <xs:sequence maxOccurs="unbounded">
        <xs:element name="ingredient" type="ingredientType"/>
    </xs:sequence>
</xs:complexType>

<!--ingredient-->
<xs:complexType name="ingredientType">
    <xs:sequence>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="type" type="xs:string"/>
        <xs:element name="seasonality" type="xs:string"/>
        <xs:element name="nutrition_info" type="xs:string"/> <!--Might need to edit the way we present the info in the database-->
        <xs:element name="supplier" type="supplierrefType"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID"/>
</xs:complexType>

<!--supplier idref-->
<xs:complexType name="supplierrefType">
    <xs:attribute name="idref" type="xs:integer"/>
</xs:complexType>


<!--#########################################################################-->
<!--SUPPLIERS-->
<xs:complexType name="suppliersType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="supplier" type="supplierType"/>
    </xs:sequence>
</xs:complexType>

<!--supplier-->
<xs:complexType name="supplierType">
    <xs:sequence>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="address" type="addressType"/>
        <xs:element name="contact" type="contactType"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:integer"/>
</xs:complexType>

<!--address-->
<xs:complexType name="addressType">
    <xs:sequence>
        <xs:element name="street" type="xs:string"/>
        <xs:element name="city" type="xs:string"/>
        <xs:element name="zipcode" type="xs:integer"/>
    </xs:sequence>
</xs:complexType>

<!--contact-->
<xs:complexType name="contactType">
    <xs:sequence>
        <xs:element name="email" type="xs:string"/>
        <xs:element name="telephone" type="xs:string"/>
    </xs:sequence>
</xs:complexType>


<!--#########################################################################-->
<!--ORDERS-->
<xs:complexType name="ordersType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="order" type="orderType"/>
    </xs:sequence>
</xs:complexType>

<xs:complexType name="orderType">
    <xs:sequence>
        <xs:element name="customer"/> <!--PATH INSERT??-->
        <xs:element name="recipebox"/>
        <xs:element name="invoice_amount" type="xs:float"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID"/>
</xs:complexType>


<!--#########################################################################-->
<!--TOOLS-->
<xs:complexType name="toolsType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="tool" type="toolType"/>
    </xs:sequence>
</xs:complexType>

<!--tool-->
<xs:complexType name="toolType">
    <xs:sequence>
        <xs:element name="name" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID"/>
</xs:complexType>


<!--#########################################################################-->
<!--AUTHORS-->
<xs:complexType name="authorsType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="author" type="authorType"/>
    </xs:sequence>
</xs:complexType>

<!--author-->
<xs:complexType name="authorType">
    <xs:sequence>
        <xs:element name="name" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID"/>
</xs:complexType>


<!--#########################################################################-->
<!--USER FEEDBACK-->
<xs:complexType name="userfeedbackType">
    <xs:sequence>
        <xs:element name="customer" type="customerType"/>
    </xs:sequence>
    <xs:attribute name="idref" type="xs:IDREF"/>
</xs:complexType>

<!--customer-->
<xs:complexType name="customerType">
    <xs:sequence>
        <xs:element name="recipe"/>
        <xs:element name="rating" type="xs:float"/>
        <xs:element name="comments" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="idref" type="xs:IDREF"/>
</xs:complexType>


<!--#########################################################################-->
<!--RECIPE CATEGORISATION-->
<xs:complexType name="recipecategorisationType">
    <xs:sequence>
        <xs:element name="category" type="categoryType"/>
        <xs:element name="recipe_tag" type="recipetagType"/>
        <xs:element name="allergens" type="allergensType"/>
        <xs:element name="nutrition" type="nutritionType"/>
    </xs:sequence>
</xs:complexType>

<!--category-->
<xs:complexType name="categoryType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="cat_value"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID"/>
</xs:complexType>

<!--recipe_tagType-->
<xs:complexType name="recipetagType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="tag_value"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID"/>
</xs:complexType>

<!--allergens-->
<xs:complexType name="allergensType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="allge_value"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID"/>
</xs:complexType>

<!--nutrition-->
<xs:complexType name="nutritionType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="nutr_value"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID"/>
</xs:complexType>


<!--######################################################################-->
<!--MEASUREMENTS-->
<xs:complexType name="measurementsType">
    <xs:sequence>
        <xs:element name="measure_liters" type="measure_litersType"/>
        <xs:element name="measure_grams" type="measure_gramsType"/>
    </xs:sequence>
</xs:complexType>

<!--measure_liters-->
<xs:complexType name="measure_litersType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="ml_value" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID"/>
</xs:complexType>

<!--measure_grams-->
<xs:complexType name="measure_gramsType">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="mg_value" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID"/>
</xs:complexType>

</xs:schema>